# Database Configuration
POSTGRES_SERVER=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456789
POSTGRES_DB=ebook_app
DATABASE_URL=postgresql://postgres:123456789@localhost/ebook_app

# JWT Configuration
JWT_SECRET_KEY=your-secret-key-here

# File Upload Settings
UPLOAD_DIR=uploads
OUTPUT_DIR=outputs
EXTRACTED_IMAGES_DIR=static/extracted_images
STATIC_DIR=static

# Redis Configuration
REDIS_URL=redis://localhost:6379/0
